<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funny.harness.dao.mapper.MetricsReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.funny.harness.dao.entity.MetricsReportDO">
        <id column="id" property="id" />
        <result column="report_type" property="reportType" />
        <result column="report_date" property="reportDate" />
        <result column="content_json" property="contentJson" />
        <result column="content_md" property="contentMd" />
        <result column="created_stime" property="createdStime" />
        <result column="modified_stime" property="modifiedStime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, report_type, report_date, content_json, content_md, created_stime, modified_stime, is_del
    </sql>

</mapper>
